<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package Name="System76 Thelio Io"
             UpgradeCode="69D3AF2E-8CD5-4E0D-BA40-1FEA0A7C6546"
             Manufacturer="System76"
             Language="1033"
             Codepage="1252"
             Version="$(var.Version)"
             InstallerVersion="500">

        <SummaryInformation Keywords="Installer"
                            Description="System76 Thelio Io Fan Controller"
                            Manufacturer="System76" />

        <MajorUpgrade Schedule="afterInstallInitialize"
                      AllowSameVersionUpgrades="yes"
                      DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
        <Property Id="DiskPrompt" Value="System76 Thelio Io Installation" />
        <Property Id="ARPHELPLINK" Value="https://github.com/system76/thelio-io-windows" />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="APPLICATIONFOLDER" Name="System76 Thelio Io">
                <Component Id="License" Bitness="always64">
                    <File Id="LicenseFile"
                          Name="License.rtf"
                          Source="wix\License.rtf"
                          KeyPath="yes" />
                </Component>

                <Directory Id="Bin" Name="bin">
                    <Component Id="ServiceComponent" Bitness="always64">
                        <File Id="ServiceExe"
                              Name="thelio-io.exe"
                              Source="target\$(var.Profile)\thelio-io.exe"
                              KeyPath="yes" />
                        <ServiceInstall Id="ServiceInstaller"
                                        Name="thelio-io"
                                        DisplayName="System76 Thelio Io"
                                        Type="ownProcess"
                                        Account="LocalSystem"
                                        Start="auto"
                                        ErrorControl="normal" />
                        <ServiceControl Id="ServiceControl"
                                        Name="thelio-io"
                                        Start="install"
                                        Stop="both"
                                        Remove="uninstall"
                                        Wait="yes" />
                        <util:EventSource Log="Application"
                                          Name="System76 Thelio Io"
                                          EventMessageFile="[#ServiceExe]" />
                    </Component>

                    <Component Id="WrapperComponent" Bitness="always64">
                        <File Id="WrapperExe"
                              Name="thelio-io_wrapper.exe"
                              Source="wrapper\bin\Release\net8.0-windows\win-x64\publish\wrapper.exe"
                              KeyPath="yes" />
                    </Component>

                    <Component Id="CliComponent" Bitness="always64">
                        <File Id="CliExe"
                              Name="thelio-io-cli.exe"
                              Source="target\$(var.Profile)\thelio-io-cli.exe"
                              KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </StandardDirectory>

        <Feature Id="MainFeature"
                 Title="Application"
                 Description="Installs the Thelio Io fan controller service and utilities."
                 Level="1"
                 ConfigurableDirectory="APPLICATIONFOLDER"
                 AllowAdvertise="no"
                 AllowAbsent="no">
            <ComponentRef Id="License" />
            <ComponentRef Id="ServiceComponent" />
            <ComponentRef Id="WrapperComponent" />
            <ComponentRef Id="CliComponent" />
        </Feature>

        <UI>
            <ui:WixUI Id="WixUI_FeatureTree" />
        </UI>

        <WixVariable Id="WixUILicenseRtf" Value="wix\License.rtf" />

    </Package>
</Wix>
